.Home__popularWrapper {
  margin: 20px auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Home__popularHead {
  width: 40%;
  text-align: center;
  color: var(--primaryColor);
  font-size: 2em;
}

.Home__popularCards {
  width: 85%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
}
