.Error__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Error__heading {
  color: var(--primaryColor);
  margin: 3px;
  font-size: 3em;
}

.Error__gif {
  width: 325px;
  height: 325px;
  background-image: url(../components/img/facepalm.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: 0 0 10px var(--primaryColor);
}

.Error__homeLink {
  color: var(--primaryColor);
  font-size: 1.5em;
  margin: 5px;
}

.Error__homeLink:hover {
  color: var(--primaryColor);
  text-decoration: underline;
}

.Error__description {
  margin: 5px;
}
