/* block */
.footer {
  height: 40px;
  background-color: #0f4048;
  display: flex;
  width: 100%;
}

.footer_logo {
  margin-left: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.copyright {
  margin-top: 3px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

/* element */
.footer_logo__icon {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  background-image: url("img/logo_white.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer_logo__text {
  font-family: "Orbitron", sans-serif;
  margin-left: 10px;
  color: white;
  font-size: 14px;
}

.copyright__icon {
  height: 10px;
  width: 10px;
}

.copyright__text {
  margin-left: 2px;
  color: white;
  font-size: 10px;
}
