.Footer__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primaryColor);
}

.Footer__logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 100%;
}

.Footer__logoIcon {
  height: 35px;
  width: 35px;
  background-image: url(./img/logo_white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.Footer__logoText {
  width: 100%;
  color: white;
  font-family: var(--primaryFont);
  font-size: 1.2em;
}

.Footer__copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin-right: 20px;
}

.Footer__copyIcon {
  color: white;
  margin-right: 5px;
}

.Footer__copyText {
  color: white;
}
