.menuBody {
  height: 420px;
  background-image: url("img/hero.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
}

.menuDesc {
  height: 420px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-bottom: 10px;
}

.menuDesc__heading {
  font-size: 44px;
  color: white;
  margin-bottom: 10px;
}

.menuDesc__subheading {
  font-size: 18px;
  color: white;
  font-weight: lighter;
  line-height: 1.65;
}
