.mainMenu {
  height: 70px;
}

.ui.menu .item:before {
  background: none;
}

.ui.menu .item:hover {
  background-color: white;
}

.ui.menu .active.item {
  background: none;
  color: #218191;
  font-weight: bolder;
}

.ui.menu .active.item:hover {
  background-color: white;
  color: #218191;
}

.ui.menu {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 40px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.logo__text {
  font-family: "Orbitron", sans-serif;
  font-size: 28px;
  color: #218191;
}

.logo__icon {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-right: 10px;
  background-image: url("img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ui.grid {
  display: flex;
  justify-content: center;
  margin: auto;
}

.six.wide.column {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.ui.search {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.ui.icon.input {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
}

div.ui.mainMenu.menu {
  margin-bottom: 0;
}
