.Detail__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.Detail__imgContainer {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.Detail__mainImg {
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
}

.Detail__subImgContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.Detail__subImg {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px 5px 0 0;
}

.Detail__subImg.activeImg {
  box-shadow: 0 0 10px var(--primaryColor);
}

.Detail__descContainer {
  width: 50%;
  height: 400px;
  padding: 20px;
}

.Detail__name {
  color: var(--primaryColor);
  margin: 0 0 5px 0;
}

.Detail__ratingsContainer {
  width: fit-content;
  display: flex;
  align-items: center;
}

.Detail__ratingsCount {
  margin-left: 10px;
}

.Detail__descHeader {
  color: var(--primaryColor);
  text-decoration: underline;
  margin: 10px 0 3px 0;
}
