@import "~antd/dist/antd.css";

#pictureBox {
  width: 450px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 325px;
  line-height: 160px;
  background: lightgray;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.slide {
  width: 400px;
}

img {
  max-width: 100%;
  max-height: 100%;
  position: center;
}

#wholeThing {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
}

#description {
  justify-content: left;
  margin-left: 25px;
  width: 350px;
}

span {
  margin-left: 10px;
  font-weight: bold;
}

.ant-carousel .slick-dots li > button {
  height: 7px;
  width: 30px;
  background-color: #3bd9f5e0;
}

.ant-carousel .slick-dots li.slick-active button {
  height: 7px;
  width: 50px;
  background-color: #218191;
}

.ant-carousel .slick-dots li.slick-active button:hover,
.ant-carousel .slick-dots li.slick-active button:focus {
  height: 7px;
  width: 50px;
  background-color: #218191;
}
