
.ui.sidebar {
  z-index: -5 ;
  padding-top: 100px;
}

.ui.labeled.icon.menu {
  padding-left: 20px;
  text-align: left;
}

.ui.thin.left.sidebar {
  width: 170px;
}

.ui.radio.checkbox {
  min-height: 25px;
}

.ui.checkbox {
  min-height: 25px;
}

.filter {
  margin-top: 30px;
}



@media only screen and (min-width: 601px) {
  .ui.sidebar {
    padding-top: 50px;
  }
}
