/* 

#sidebar>.ui.inverted.vertical.labeled.icon.ui.overlay.left.thin.visible.sidebar.menu{
    height: 123px;
    outline: 1px solid blue;
} */

.ui.sidebar {
    z-index: -5 !important;
}
/* .ui.inverted.vertical.labeled.icon.ui.overlay.left.thin.visible.sidebar.menu{
    postiion: sticky;
} */