.ui.pointing.secondary.menu {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    margin: auto;
}

.ui.segment.active.tab {
    width: 50%;
    margin: auto;
}

.boxes3 {
    height: 25px;
    width: 25px;
    border: black;
    background-color: blueviolet;
}

.boxes2 {
    height: 25px;
    width: 25px;
    border: black;
    background-color: green;
}

.boxes1 {
    height: 25px;
    width: 25px;
    border: black;
    background-color: brown;
}